body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gold ;
    color:black ;
}

#container {
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "about"
        "skills"
        "projects"
        "contact"
        "footer";
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
}

header {
    grid-area: header;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #fff;
    color: #333;
}

#about, #skills, #projects, #contact {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project img {
    max-width: 100%;
    height: auto;
}

#about a, #projects a, #contact a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#about a:hover, #projects a:hover, #contact a:hover {
    background-color: #fff;
    color: #333;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #fff;
}
